@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply
        overflow-x-hidden
    }
}



.header {
    /* background-image: url('../media/bubble-header.svg'); */
}

.hero-text {
    @apply 
    text-3xl 
    sm:text-5xl 
    text-bodyText 
    font-semibold
}

.section {
    @apply 
    mx-auto
    max-w-screen-lg
    px-5
}

.section-title {
    @apply
    text-2xl 
    text-bodyText 
    font-medium
    sm:text-3xl
}

.btn {
    @apply 
    py-2 
    px-4 
    rounded
    font-medium
    text-sm
    sm:text-base
    transition-all
    duration-200
    tracking-wider
}

.btn-blue {
    @apply 
    bg-primary
    text-white
    hover:bg-primary-dark
    shadow-md
    hover:shadow-lg
}
/* .btn-blue:hover {
    @apply bg-blue-700;
} */

.card {
    @apply 
    bg-white
    rounded-md 
    shadow-card
}

.project-card {
    @apply last:mb-0
}

.project-background {
    height: auto;
    width: 83%;
}

.Typewriter__cursor {
    @apply text-green
}